{% extends 'base.html.twig' %}
{% block title 'Hello city !' %}

{% block body %}
    <img class="rounded h-32" src="{{ asset('/img/logo.gif') }}" alt="">
    <h1 class="my-5 text-3xl sm:text-5xl font-bold text-indigo-600">Hello from Quebec !</h1>
    <p class="text-lg text-gray-800">It's currently {{ 'now'|date ('h:i A', 'Europe/Paris') }}</p>


{% endblock %}