<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

        <meta charset="UTF-8">
        <title>{% block title %}Hello city{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
<body class="flex flex-col justify-around items-center min-h-screen">
<main role="main"  class="flex flex-col justify-center items-center">
    {% block body %}{% endblock %}
</main>
<footer class="text-gray-400">
    <p>
        Copyright {{ 'now'|date ('Y') }}. <a class="text-indigo-500 hover:tex-indigo-700" href="{{path('app-about') }}">About Us</a>
    </p>
</footer>
</body>
</html>
